@typeparam Titem

<h3>Listado</h3>

@if (MyList == null)
{
    @if (Loading is null)
    {
        @* <p>Cargando por default!!..</p> *@
        @* ahora usaremos un componente propio con un GIF de loading *@
        <Loading />
    }
    else
    {
        @* va a imprimir el loading que envian al llamar a la clase *@
        @Loading
    }

}
else if (MyList.Count == 0) //Lista vacia, tenemos que preguntar si el campo NoRecords esta
{
    @if (NoRecords is null)
    {
        <p>No hay registros para mostrar..</p>
    }
    else //DEberia pintar mi componente de no records
    {
        @NoRecords
    }
}
else
{
    @Body
}



